@using System.Security.Claims

@{
    var userAddress = User.FindFirst(ClaimTypes.StreetAddress)?.Value;
    var userCity = User.FindFirst(ClaimTypes.Locality)?.Value;
    var userCountry = User.FindFirst(ClaimTypes.Country)?.Value;
    var wholeAddress = $"{userAddress}, {userCity}, {userCountry}";
}

<div class="container-fluid">

    <div class="card ms-auto mt-4 mb-4">
        <div class="card-header">
            <h3>Your address is: @wholeAddress</h3>
        </div>
    </div>

    <form method="post" asp-page-handler="FindRestaurant" class="mb-4">
        <input type="hidden" name="view" value="_BookAReservation" />
        <div class="row mb-3">
            <div class="col-6">
                <input type="text" name="Name" value="@Model.Name" class="form-control" placeholder="Search by name" />
            </div>
            <div class="col-6">
                <input type="text" name="Address" value="@Model.Address" class="form-control" placeholder="Search by address" />
            </div>


        </div>
        <div class="row mb-3">
            <div class="col-4">
                <input type="text" name="City" value="@Model.City" class="form-control" placeholder="Search by city" />
            </div>
            <div class="col-4">
                <input type="text" name="Country" value="@Model.Country" class="form-control" placeholder="Search by country" />
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Search</button>
                <a asp-page="/Customers/Index" asp-route-view="_BookAReservation" class="btn btn-secondary">Reset</a>
            </div>
        </div>
    </form>

    <table class="table table-light table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quisine</th>
                <th>Αddress</th>
                <th>City</th>
                <th>Country</th>
                <th>PostalCode</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var restaurant in Model.Restaurants!.Records)
            {
                <tr>
                    <td>@restaurant.Name</td>
                    <td>@restaurant.Menu?.Name</td>
                    <td>@restaurant.Address</td>
                    <td>@restaurant.City</td>
                    <td>@restaurant.Country</td>
                    <td>@restaurant.PostalCode</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-info" asp-page="/Customers/BookAReservation/Reserve" asp-route-id="@restaurant.Id">Reserve</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div class="pagination">
        @if (Model.Restaurants.HasPreviousPage)
        {
            <a asp-page="/Customers/Index" asp-route-view="_BookAReservation" asp-route-PageIndex="@(Model.Restaurants.PageIndex - 1)" class=" btn btn-secondary">Previous</a>
        }

        @if (Model.Restaurants.HasNextPage)
        {
            <a asp-page="/Customers/Index" asp-route-view="_BookAReservation" asp-route-PageIndex="@(Model.Restaurants.PageIndex + 1)" class="btn btn-secondary">Next</a>
        }
    </div>
</div>